@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400&display=swap');
body{
    width: 80%;
    margin: auto;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h3{
    font-weight: 400;
}

textarea{
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    resize: none;
}

a:visited{
    color: black;
}